In [1]:
# libraries
import pandas as pd
import numpy as np
import random
import string

# Dataframe created for each corresponding tables in the database

## Academy data

**COMMENT:** 11 countries were taken into account to generated random academy data on players' personal information, demographic, leagues, names of the academies as well as how much revenue and successful players have graduated from.

In [ ]:
# list of cities associated with each country
city_dict = {
'Ghana': ['Accra', 'Kumasi', 'Cape Coast', 'Tamale'],
'USA': ['New York City', 'Los Angeles', 'Salt Lake City', 'Philadelphia', 'Washington, D.C.'],
'China': ['Guangzhou', 'Jinan', 'Beijing', 'Shanghai', 'Hebei'],
'England': ['Manchester', 'London', 'Liverpool'],
'Spain': ['Barcelona', 'Madrid', 'Valencia', 'Seville'],
'Italy': ['Milan', 'Inter Milan', 'Turin', 'Rome'],
'Germany': ['Munich', 'Dortmund', 'Gelsenkirchen', 'Leipzig', 'Leverkusen'],
'Netherlands': ['Amsterdam', 'Eindhoven', 'Rotterdam', 'Alkmaar', 'Utrecht'],
'Nigeria': ['Abuja', 'Jossy', 'Lagos', 'Port Harcourt'],
'Vietnam': ['Hanoi', 'Hoang Anh Gia Lai', 'Da Nang', 'Binh Duong'],
'France': ['Paris', 'Lyon', 'Monaco', 'Marseille', 'Nantes']
}

# list of languages associated with each country
country_languages = {
    "Ghana": ["English"],
    "USA": ["English"],
    "China": ["Mandarin", "Cantonese"],
    "England": ["English"],
    "Spain": ["Spanish"],
    "Italy": ["Italian"],
    "Germany": ["German"],
    "Netherlands": ["Dutch"],
    "Nigeria": ["English"],
    "Vietnam": ["Vietnamese"],
    "France": ["French"]
}

# list of nationalities
countries_nat = {
    'Ghana': 'Ghanaian',
    'USA': 'American',
    'China': 'Chinese',
    'England': 'English',
    'Spain': 'Spanish',
    'Italy': 'Italian',
    'Germany': 'German',
    'Netherlands': 'Dutch',
    'Nigeria': 'Nigerian',
    'Vietnam': 'Vietnamese',
    'France': 'French'
}

# list of soccer leagues associated with each country
leagues = {
    'Ghana': 'Ghana Premier League U20',
    'USA': 'USL Academy League',
    'China': 'Chinese Super League U19',
    'England': 'Premier League 2',
    'Spain': 'División de Honor Juvenil de Fútbol',
    'Italy': 'Campionato Primavera 1',
    'Germany': 'A-Junioren Bundesliga',
    'Netherlands': 'Eredivisie U21',
    'Nigeria': 'NPFL U20',
    'Vietnam': 'V.League 2 U19',
    'France': 'Championnat National U19'
}

# list of first name, last name a player could randomly have
first_names = {
    'Ghana': ['Yaw', 'Kwame', 'Kofi', 'Akwasi', 'Kwadwo', 'Kwesi', 'Kojo', 'Kwabena', 'Nana', 'Yawo'],
    'USA': ['James', 'John', 'Robert', 'Michael', 'William', 'David', 'Richard', 'Joseph', 'Christopher', 'Daniel'],
    'China': ['Liang', 'Wei', 'Hao', 'Jian', 'Xin', 'Chao', 'Zheng', 'Jun', 'Tao', 'Bin'],
    'England': ['William', 'Jack', 'Harry', 'Oliver', 'George', 'Arthur', 'Alfie', 'Charlie', 'Freddie', 'Henry'],
    'Spain': ['García', 'Rodríguez', 'Martínez', 'López', 'Hernández', 'González', 'Pérez', 'Sánchez', 'Ramírez', 'Fernández'],
    'Italy': ['Rossi', 'Russo', 'Ferrari', 'Esposito', 'Bianchi', 'Romano', 'Lombardi', 'Moretti', 'Greco', 'Conti'],
    'Germany': ['Müller', 'Schmidt', 'Schneider', 'Fischer', 'Meyer', 'Weber', 'Schulz', 'Hoffmann', 'Schäfer', 'Koch'],
    'Netherlands': ['de Jong', 'Jansen', 'van Dijk', 'van der Meer', 'Bakker', 'Smit', 'Visser', 'de Vries', 'Vermeer', 'van Beek'],
    'Nigeria': ['Okafor', 'Onyekachi', 'Eze', 'Okeke', 'Ibe', 'Nwosu', 'Okonkwo', 'Okafor', 'Onyeka', 'Ibekwe'],
    'Vietnam': ['Nguyen', 'Tran', 'Le', 'Pham', 'Hoang', 'Phan', 'Vu', 'Dang', 'Bui', 'Do'],
    'France': ['Dubois', 'Lefebvre', 'Durand', 'Martin', 'Bernard', 'Perrier', 'Moreau', 'Lambert', 'Fontaine', 'Henry'],
}

last_names = {
    'Ghana': ['Adjei', 'Boateng', 'Dzifa', 'Osei', 'Asare', 'Kwame', 'Nyame', 'Anane', 'Ampadu', 'Asamoah'],
    'USA': ['Smith', 'Johnson', 'Brown', 'Davis', 'Garcia', 'Wilson', 'Martinez', 'Anderson', 'Thomas', 'Jackson'],
    'China': ['Wang', 'Li', 'Zhang', 'Liu', 'Chen', 'Yang', 'Huang', 'Zhao', 'Wu', 'Zhou'],
    'England': ['Smith', 'Jones', 'Williams', 'Taylor', 'Brown', 'Davies', 'Evans', 'Wilson', 'Thomas', 'Roberts'],
    'Spain': ['Gómez', 'Muñoz', 'Alonso', 'Serrano', 'Castro', 'Ortega', 'Rubio', 'Molina', 'Garrido', 'Ramos'],
    'Italy': ['Ricci', 'Giordano', 'Costa', 'Mancini', 'Rizzo', 'Moretti', 'Longo', 'Barbieri', 'Santoro', 'Messina'],
    'Germany': ['Schmidt', 'Schulz', 'Schäfer', 'Fuchs', 'Keller', 'Baumann', 'Lange', 'Hofmann', 'Klein', 'Peters'],
    'Netherlands': ['de Boer', 'de Groot', 'de Bruin', 'van den Berg', 'van der Heijden', 'van der Velden', 'Verhoeven', 'van Leeuwen', 'van der Laan', 'de Wit'],
    'Nigeria': ['Okafor', 'Onyekachi', 'Eze', 'Okeke', 'Ibe', 'Nwosu', 'Okonkwo', 'Okafor', 'Onyeka', 'Ibekwe'],
    'Vietnam': ['Nguyen', 'Tran', 'Le', 'Pham', 'Hoang', 'Phan', 'Vu', 'Dang', 'Bui', 'Do'],
    'France': ['Martin', 'Bernard', 'Dubois', 'Thomas', 'Petit', 'Robert', 'Richard', 'Durand', 'Leroy', 'Moreau']
   }

# Define the youth teams for each country
youth_teams = {
    'Ghana': ['Black Stars Academy', 'Accra Lions FC Youth', 'Dreams FC Youth', 'WAFA Youth SC', 'Kumasi Asante Kotoko FC Youth'],
    'USA': ['New York Red Bulls Academy', 'LA Galaxy Academy', 'Real Salt Lake Academy', 'Philadelphia Union Academy', 'D.C. United Academy'],
    'China': ['Guangzhou Evergrande Taobao FC Youth', 'Shandong Luneng Taishan FC Youth', 'Beijing Sinobo Guoan FC Youth', 'Shanghai SIPG FC Youth', 'Hebei China Fortune FC Youth'],
    'England': ['Manchester United Academy', 'Chelsea FC Academy', 'Liverpool FC Academy', 'Arsenal FC Academy', 'Tottenham Hotspur FC Academy'],
    'Spain': ['FC Barcelona Youth Academy', 'Real Madrid CF Youth Academy', 'Valencia CF Youth Academy', 'Sevilla FC Youth Academy'],
    'Italy': ['AC Milan Youth Academy', 'Inter Milan Youth Academy', 'Juventus FC Youth Academy', 'AS Roma Youth Academy', 'SS Lazio Youth Academy'],
    'Germany': ['Bayern Munich Youth Academy', 'Borussia Dortmund Youth Academy', 'Schalke 04 Youth Academy', 'RB Leipzig Youth Academy', 'Bayer Leverkusen Youth Academy'],
    'Netherlands': ['Ajax Amsterdam Youth Academy', 'PSV Eindhoven Youth Academy', 'Feyenoord Rotterdam Youth Academy', 'AZ Alkmaar Youth Academy', 'FC Utrecht Youth Academy'],
    'Nigeria': ['Abuja Football College', 'Jossy Football Academy', 'Dynamic Football Academy', 'Royal Football Academy', 'Rivers Angels Academy'],
    'Vietnam': ['Viettel FC Youth Academy', 'Hanoi FC Youth Academy', 'Hoang Anh Gia Lai FC Youth Academy', 'Da Nang FC Youth Academy', 'Becamex Binh Duong FC Youth Academy'],
    'France': ['Paris Saint-Germain FC Youth Academy', 'Olympique Lyonnais Youth Academy', 'AS Monaco FC Youth Academy', 'Olympique de Marseille Youth Academy', 'FC Nantes Youth Academy']}

# list of soccer teams associated with each city
youth_teams_city = {
'Accra': ['Accra Lions FC Youth', 'WAFA Youth SC'],
'Kumasi':['Kumasi Asante Kotoko FC Youth'],
'Cape Coast':['Dreams FC Youth'],
'Tamale':['Black Stars Academy'],
'New York City': ['New York Red Bulls Academy'],
'Los Angeles': ['LA Galaxy Academy'],
'Salt Lake City': ['Real Salt Lake Academy'],
'Philadelphia': ['Philadelphia Union Academy'],
'Washington, D.C.': ['D.C. United Academy'],
'Guangzhou': ['Guangzhou Evergrande Taobao FC Youth'],
'Jinan': ['Shandong Luneng Taishan FC Youth'],
'Beijing': ['Beijing Sinobo Guoan FC Youth'],
'Shanghai': ['Shanghai SIPG FC Youth'],
'Hebei': ['Hebei China Fortune FC Youth'],
'Manchester': ['Manchester United Academy'],
'London': ['Chelsea FC Academy', 'Arsenal FC Academy', 'Tottenham Hotspur FC Academy'],
'Liverpool': ['Liverpool FC Academy'],
'Barcelona': ['FC Barcelona Youth Academy'],
'Madrid': ['Real Madrid CF Youth Academy','Atlético Madrid Youth Academy'],
'Valencia': ['Valencia CF Youth Academy'],
'Seville': ['Sevilla FC Youth Academy'],
'Milan': ['AC Milan Youth Academy'],
'Inter Milan': ['Inter Milan Youth Academy'],
'Turin': ['Juventus FC Youth Academy'],
'Rome': ['AS Roma Youth Academy','SS Lazio Youth Academy'],
'Munich': ['Bayern Munich Youth Academy'],
'Dortmund': ['Borussia Dortmund Youth Academy'],
'Gelsenkirchen': ['Schalke 04 Youth Academy'],
'Leipzig': ['RB Leipzig Youth Academy'],
'Leverkusen': ['Bayer Leverkusen Youth Academy'],
'Amsterdam': ['Ajax Amsterdam Youth Academy'],
'Eindhoven': ['PSV Eindhoven Youth Academy'],
'Rotterdam': ['Feyenoord Rotterdam Youth Academy'],
'Alkmaar': ['AZ Alkmaar Youth Academy'],
'Utrecht': ['FC Utrecht Youth Academy'],
'Abuja': ['Abuja Football College'],
'Jossy': ['Jossy Football Academy'],
'Lagos': ['Dynamic Football Academy', 'Royal Football Academy'],
'Port Harcourt': ['Rivers Angels Academy'],
'Hanoi': ['Viettel FC Youth Academy','Hanoi FC Youth Academy'],
'Hoang Anh Gia Lai': ['Hoang Anh Gia Lai FC Youth Academy'],
'Da Nang': ['Da Nang FC Youth Academy'],
'Binh Duong': ['Becamex Binh Duong FC Youth Academy'],
'Paris': ['Paris Saint-Germain FC Youth Academy'],
'Lyon': ['Olympique Lyonnais Youth Academy'],
'Monaco': ['AS Monaco FC Youth Academy'],
'Marseille': ['Olympique de Marseille Youth Academy'],
'Nantes': ['FC Nantes Youth Academy']
}


city_teams = {}
for country, teams in youth_teams_city.items():
    for team in teams:
        city_teams[team] = country

academy_data = []
academy_id = 1
for country in (list(youth_teams.keys())):
    for youth_team in youth_teams[country]:
        academy_name = youth_team
        contact_info = academy_name.replace(" ","") + "@gmail.com"
        est_year = random.randint(1990, 2022)
        stad_name = academy_name + " Stadium"
        stad_size = random.randint(1000, 100000)
        city = city_teams[academy_name]
        country = country
        league = leagues[country]
        revenue = random.randint(100000, 10000000)
        num_player_grad = random.randint(0, 100)

        academy_data.append([academy_id, academy_name, contact_info, est_year, stad_name, stad_size, city, country, league, revenue, num_player_grad])
        academy_id += 1

academies = pd.DataFrame(academy_data, columns=['academy_id', 'academy_name', 'contact_info', 'est_year', 'stad_name', 'stad_size', 'city', 'country', 'league', 'revenue', 'num_player_grad'])
academies.head()

,academy_id,academy_name,contact_info,est_year,stad_name,stad_size,city,country,league,revenue,num_player_grad
0,1,Black Stars Academy,BlackStarsAcademy@gmail.com,2007,Black Stars Academy Stadium,72975,Tamale,Ghana,Ghana Premier League U20,3918775,32
1,2,Accra Lions FC Youth,AccraLionsFCYouth@gmail.com,2006,Accra Lions FC Youth Stadium,35143,Accra,Ghana,Ghana Premier League U20,3470310,16
2,3,Dreams FC Youth,DreamsFCYouth@gmail.com,1994,Dreams FC Youth Stadium,27943,Cape Coast,Ghana,Ghana Premier League U20,3003475,7
3,4,WAFA Youth SC,WAFAYouthSC@gmail.com,2018,WAFA Youth SC Stadium,87046,Accra,Ghana,Ghana Premier League U20,2060799,33
4,5,Kumasi Asante Kotoko FC Youth,KumasiAsanteKotokoFCYouth@gmail.com,1998,Kumasi Asante Kotoko FC Youth Stadium,60778,Kumasi,Ghana,Ghana Premier League U20,6408756,12

## Agents data

**COMMENT:** Agents' information such as their biographic and personal information were randomly generated as well as how many players each of them manages.

In [ ]:
# list of agencies in 11 countries
scouting_agencies = {
    'Ghana': ['Global Scouting Agency', 'Rising Stars Scouting'],
    'USA': ['Soccer Management Worldwide', 'Scout7'],
    'China': ['Sports Career Management', 'One Touch Scouting'],
    'England': ['Protec Football Academy', 'Sporting Futures USA'],
    'Spain': ['Kaptiva Sports Academy', 'Caspian Talent'],
    'Italy': ['Trans World Soccer', 'Inverness CT FC'],
    'Germany': ['KICKZ AG', 'GTF Soccer Scouts'],
    'Netherlands': ['SoccerSmart Ltd', 'Soccer Vision International'],
    'Nigeria': ['Football Development Agency', 'Sporting Dreams International'],
    'Vietnam': ['Championship Soccer Tours', 'Asia-Pacific Soccer Schools'],
    'France': ['Euro Soccer Company', 'Focus International']}

agent_data = []
agent_id = 1
for country in list(scouting_agencies.keys()):
    for agency in scouting_agencies[country]:
        first_name = random.choice(first_names[country]) # generate first name
        last_name = random.choice(last_names[country]) # generate last name
        agency_name = agency # agency name
        contact_info = first_name + last_name + "@gmail.com" # generate email
        num_client = random.randint(0, 100) # generate nums of players an agent mananged
        agent_data.append([agent_id, first_name, last_name, agency_name, contact_info, num_client])
        agent_id+=1

agents = pd.DataFrame(agent_data, columns=['agent_id', 'first_name', 'last_name', 'agency_name', 'contact_info', 'num_client'])
agents.head()

,agent_id,first_name,last_name,agency_name,contact_info,num_client
0,1,Kojo,Osei,Global Scouting Agency,KojoOsei@gmail.com,34
1,2,Yaw,Ampadu,Rising Stars Scouting,YawAmpadu@gmail.com,28
2,3,John,Johnson,Soccer Management Worldwide,JohnJohnson@gmail.com,55
3,4,Robert,Jackson,Scout7,RobertJackson@gmail.com,55
4,5,Chao,Chen,Sports Career Management,ChaoChen@gmail.com,10

## Players data

**COMMENT:** Generate players' biographic information with birthdate's year being chosen randomly from 2004 to 2008. Noticably, each `player_id` has associated `academy_id` and `agent_id` (FKs).

In [ ]:
# 3. Generate players data
player_data = []
player_id = 1
for country in list(scouting_agencies.keys()):
    for city in city_dict[country]:
        for team in youth_teams_city[city]:
            for i in range(20):
                first_name = random.choice(first_names[country])
                last_name = random.choice(last_names[country])
                start_year = 2004
                end_year = 2008
                year = random.randint(start_year, end_year)
                month = random.randint(1, 12)
                day = random.randint(1, 28)
                birthdate = f"{year}-{month:02d}-{day:02d}"
                nationality = countries_nat[country]
                lang = random.choice(country_languages[country])
                height = random.randint(160, 210)
                weight = random.randint(50, 100)
                foot = random.choice(['left', 'right'])
                academy_id = random.choice(academies[academies["city"]==city]['academy_id'].tolist())
                agent_id = random.choice(agents[agents["agency_name"].isin(scouting_agencies[country])]['agent_id'].tolist())

                player_data.append([player_id, first_name, last_name, birthdate, city, country, nationality, lang, height, weight, foot, academy_id, agent_id])
                player_id +=1
players = pd.DataFrame(player_data, columns=['player_id', 'first_name', 'last_name', 'birthdate', 'city', 'country', 'nationality', 'lang', 'height', 'weight', 'foot', 'academy_id', 'agent_id'])
players.head()

,player_id,first_name,last_name,birthdate,city,country,nationality,lang,height,weight,foot,academy_id,agent_id
0,1,Kojo,Ampadu,2008-07-01,Accra,Ghana,Ghanaian,English,196,90,left,2,2
1,2,Kojo,Dzifa,2006-06-25,Accra,Ghana,Ghanaian,English,195,72,right,2,2
2,3,Nana,Asare,2007-09-21,Accra,Ghana,Ghanaian,English,163,51,right,2,2
3,4,Akwasi,Anane,2005-02-06,Accra,Ghana,Ghanaian,English,179,52,left,2,1
4,5,Kwabena,Adjei,2005-08-03,Accra,Ghana,Ghanaian,English,160,59,left,2,1

## Award data

**COMMENT:** Randomly generate awards associated with special players. As a result, FK is `player_id`.

In [ ]:
# create list of unique player ids from players dataframe
player_ids = list(players['player_id'].unique())

# create list of award names
awards = ['Assist King', 'Golden Boot', 'Best Goalkeeper', 'Best Defender', 'Best Midfielder', 'Best Overall Player']

# randomly assign award to a player id

award_data = []
award_id = 1
for year in list(range(2020,2023)):
    for award in awards:
        for league in list(leagues.keys()):
            player_id = np.random.choice(players[players["country"]==league]["player_id"].to_list())
            award_data.append({
                'award_id':award_id,
                'player_id': player_id,
                'award_name': str(year) + " " + leagues[league] +  " "  + award,
                'award_year': year,
            })
            award_id += 1

# create pandas dataframe from award data
awards_df = pd.DataFrame(award_data)
awards_df.head()

,award_id,player_id,award_name,award_year
0,1,11,2020 Ghana Premier League U20 Assist King,2020
1,2,180,2020 USL Academy League Assist King,2020
2,3,260,2020 Chinese Super League U19 Assist King,2020
3,4,396,2020 Premier League 2 Assist King,2020
4,5,443,2020 División de Honor Juvenil de Fútbol Assis...,2020

## Players' statistics data - attack, defend, discipline, teamplay, goalkeep

In [ ]:
# generate data for 3 seasons (2019/2020 to 2021/2022)
seasons = ['2019/2020', '2020/2021', '2021/2022']

# create empty lists to store data for each table
attk_data = []
def_data = []
tp_data = []
dis_data = []
gk_data = []

# generate data for each player
for player_id in player_ids:
    player_position = random.choice(['attacker', 'defender', 'midfielder', 'goalkeeper'])
    for season in seasons:
        games = random.randint(1, 38)
        if player_position == 'attacker':
            goals = random.randint(10, 45)
            hd_goals = random.randint(0, goals)
            rf_goals = random.randint(0, goals - hd_goals)
            lf_goals = goals - hd_goals - rf_goals
            fk_goals = random.randint(0, 6)
            pen_goals = random.randint(0,10)
            shots = random.randint(goals, 200)
            shots_target = random.randint(goals, shots)
            shoot_acc = str(round((shots_target / shots) * 100, 2)) + '%'
            bc_misses = random.randint(0, 20)
            attk_row = (player_id, player_position, season, games, goals, hd_goals, rf_goals, lf_goals, fk_goals, pen_goals, shots, shots_target, shoot_acc, bc_misses)
            attk_data.append(attk_row)

            tackles = random.randint(0, 20)
            tackles_succ = str(round((random.uniform(0.1, 0.4)) * 100, 2)) + '%'
            blocked_shots = random.randint(0, 10)
            intercept = random.randint(10, 30)
            clear = random.randint(0, 10)
            hd_clear = random.randint(0, clear)
            recoveries = random.randint(10, 30)
            duels_won = random.randint(10, 30)
            duels_lost = random.randint(10, 30)
            def_row = (player_id, player_position, season, games, tackles, tackles_succ, blocked_shots, intercept, clear, hd_clear, recoveries, duels_won, duels_lost)
            def_data.append(def_row)

            assists = random.randint(5, 20)
            passes = random.randint(300, 1000)
            big_chances = random.randint(1, 10)
            crss = random.randint(10, 150)
            crss_acc = str(round((random.uniform(0.5, 0.9)) * 100, 2)) + '%'
            through_ball = random.randint(5, 30)
            acc_long_balls = random.randint(40,100)
            tp_row = (player_id,player_position, season, games, assists, passes, big_chances, crss, crss_acc, through_ball, acc_long_balls)
            tp_data.append(tp_row)

            saves = 0
            pen_saves = 0
            punches = 0
            high_claims = 0
            catches = 0
            sweep_clear = 0
            throw_outs = 0

            gk_row = (player_id, player_position, season, games, saves, pen_saves, punches, high_claims, catches, sweep_clear, throw_outs)
            gk_data.append(gk_row)

            yellow = random.randint(0, 10)
            red = random.randint(0, 5)
            fouls = random.randint(0, 20)
            offsides = random.randint(10, 20)
            dis_data.append((player_id, player_position, season, games, yellow, red, fouls, offsides))

        elif player_position == 'defender':
            goals = random.randint(1, 10)
            hd_goals = random.randint(0, goals)
            rf_goals = random.randint(0, goals - hd_goals)
            lf_goals = goals - hd_goals - rf_goals
            fk_goals = random.randint(0, 2)
            pen_goals = random.randint(0, 3)
            shots = random.randint(goals, 30)
            shots_target = random.randint(goals, shots)
            shoot_acc = str(round((shots_target / shots) * 100, 2)) + '%'
            bc_misses = random.randint(0, 20)
            attk_row = (player_id, player_position, season, games, goals, hd_goals, rf_goals, lf_goals, fk_goals, pen_goals, shots, shots_target, shoot_acc, bc_misses)
            attk_data.append(attk_row)

            tackles = random.randint(20, 100)
            tackles_succ = str(round((random.uniform(0.5, 0.9)) * 100, 2)) + '%'
            blocked_shots = random.randint(5, 50)
            intercept = random.randint(10, 70)
            clear = random.randint(20, 100)
            hd_clear = random.randint(5, clear)
            recoveries = random.randint(30, 120)
            duels_won = random.randint(20, 80)
            duels_lost = random.randint(20, 80)
            def_row = (player_id, player_position, season, games, tackles, tackles_succ, blocked_shots, intercept, clear, hd_clear, recoveries, duels_won, duels_lost)
            def_data.append(def_row)

            assists = random.randint(0, 13)
            passes = random.randint(300, 1500)
            big_chances = random.randint(1, 7)
            crss = random.randint(10, 100)
            crss_acc = str(round((random.uniform(0.5, 0.9)) * 100, 2)) + '%'
            through_ball = random.randint(5, 20)
            acc_long_balls = random.randint(50, 300)
            tp_row = (player_id, player_position, season, games, assists, passes, big_chances, crss, crss_acc, through_ball, acc_long_balls)
            tp_data.append(tp_row)

            saves = 0
            pen_saves = 0
            punches = 0
            high_claims = 0
            catches = 0
            sweep_clear = 0
            throw_outs = 0

            gk_row = (player_id, player_position, season, games, saves, pen_saves, punches, high_claims, catches, sweep_clear, throw_outs)
            gk_data.append(gk_row)

            yellow = random.randint(0, 10)
            red = random.randint(0, 5)
            fouls = random.randint(0, 20)
            offsides = random.randint(0, 4)
            dis_data.append((player_id, player_position, season, games, yellow, red, fouls, offsides))

        elif player_position == 'midfielder':
            goals = random.randint(3, 28)
            hd_goals = random.randint(0, goals)
            rf_goals = random.randint(0, goals - hd_goals)
            lf_goals = goals - hd_goals - rf_goals
            fk_goals = random.randint(0, goals)
            pen_goals = random.randint(0, goals)
            shots = random.randint(30, 150)
            shots_target = random.randint(goals, shots)
            shoot_acc = str(round((shots_target / shots) * 100, 2)) + '%'
            bc_misses = random.randint(0, 20)
            attk_row = (player_id, player_position, season, games, goals, hd_goals, rf_goals, lf_goals, fk_goals, pen_goals, shots, shots_target, shoot_acc, bc_misses)
            attk_data.append(attk_row)

            tackles = random.randint(20, 70)
            tackles_succ = str(round((random.uniform(0.5, 0.9)) * 100, 2)) + '%'
            blocked_shots = random.randint(5, 30)
            intercept = random.randint(10, 70)
            clear = random.randint(20, 50)
            hd_clear = random.randint(5, clear)
            recoveries = random.randint(15, 100)
            duels_won = random.randint(20, 65)
            duels_lost = random.randint(20, 65)
            def_row = (player_id, player_position,season, games, tackles, tackles_succ, blocked_shots, intercept, clear, hd_clear, recoveries, duels_won, duels_lost)
            def_data.append(def_row)

            assists = random.randint(2, 23)
            passes = random.randint(300, 2000)
            big_chances = random.randint(1, 10)
            crss = random.randint(10, 150)
            crss_acc = str(round((random.uniform(0.5, 0.9)) * 100, 2)) + '%'
            through_ball = random.randint(5, 40)
            acc_long_balls = random.randint(50, 500)
            tp_row = (player_id, player_position,  season, games, assists, passes, big_chances, crss, crss_acc, through_ball, acc_long_balls)
            tp_data.append(tp_row)

            saves = 0
            pen_saves = 0
            punches = 0
            high_claims = 0
            catches = 0
            sweep_clear = 0
            throw_outs = 0

            gk_row = (player_id, player_position, season, games, saves, pen_saves, punches, high_claims, catches, sweep_clear, throw_outs)
            gk_data.append(gk_row)

            yellow = random.randint(0, 10)
            red = random.randint(0, 5)
            fouls = random.randint(0, 20)
            offsides = random.randint(7, 15)
            dis_data.append((player_id, player_position, season, games, yellow, red, fouls, offsides))

        elif player_position == 'goalkeeper':
            goals = 0
            hd_goals = 0
            rf_goals = 0
            lf_goals = 0
            fk_goals = 0
            pen_goals = 0
            shots = 0
            shots_target = 0
            shoot_acc = "0" + '%'
            bc_misses = 0
            attk_row = (player_id, player_position, season, games, goals, hd_goals, rf_goals, lf_goals, fk_goals, pen_goals, shots, shots_target, shoot_acc, bc_misses)
            attk_data.append(attk_row)

            tackles = random.randint(0, 10)
            tackles_succ = str(round((random.uniform(0.5, 0.9)) * 100, 2)) + '%'
            blocked_shots = random.randint(5, 10)
            intercept = random.randint(10, 20)
            clear = random.randint(20, 50)
            hd_clear = random.randint(5, clear)
            recoveries = random.randint(10, 20)
            duels_won = random.randint(5, 30)
            duels_lost = random.randint(5, 35)
            def_row = (player_id, player_position,  season, games, tackles, tackles_succ, blocked_shots, intercept, clear, hd_clear, recoveries, duels_won, duels_lost)
            def_data.append(def_row)

            assists = random.randint(0, 4)
            passes = random.randint(300, 1000)
            big_chances = random.randint(0, 2)
            crss = 0
            crss_acc = str(round((random.uniform(0, 0)) * 100, 2)) + '%'
            through_ball = random.randint(0, 10)
            acc_long_balls = random.randint(50, 100)
            tp_row = (player_id, player_position,  season, games, assists, passes, big_chances, crss, crss_acc, through_ball, acc_long_balls)
            tp_data.append(tp_row)

            saves = random.randint(20, 150)
            pen_saves = random.randint(1, 20)
            punches = random.randint(5, 30)
            high_claims = random.randint(5, 30)
            catches = random.randint(5, 30)
            sweep_clear = random.randint(5, 30)
            throw_outs = random.randint(20, 100)
            gk_row = (player_id, player_position, season, games, saves, pen_saves, punches, high_claims, catches, sweep_clear, throw_outs)
            gk_data.append(gk_row)

            yellow = random.randint(0, 10)
            red = random.randint(0, 5)
            fouls = random.randint(0, 10)
            offsides = 0
            dis_data.append((player_id, player_position, season, games, yellow, red, fouls, offsides))

#create dataframes for each table
attk_df = pd.DataFrame(attk_data, columns=['player_id','player_position','season', 'games', 'goals', 'hd_goals', 'rf_goals', 'lf_goals', 'fk_goals', 'pen_goals', 'shots', 'shots_target', 'shoot_acc', 'bc_misses'])
def_df = pd.DataFrame(def_data, columns=['player_id','player_position','season', 'games', 'tackles', 'tackles_succ', 'blocked_shots', 'intercept', 'clear', 'hd_clear', 'recoveries', 'duels_won', 'duels_lost'])
tp_df = pd.DataFrame(tp_data, columns=['player_id','player_position', 'season', 'games', 'assists', 'passes', 'big_chances', 'crss', 'crss_acc', 'through_ball', 'acc_long_balls'])
gk_df = pd.DataFrame(gk_data, columns=['player_id','player_position', 'season', 'games', 'saves', 'pen_saves', 'punches', 'high_claims', 'catches', 'sweep_clear', 'throw_outs'])
dis_df = pd.DataFrame(dis_data, columns=['player_id', 'player_position', 'season', 'games', 'yellow', 'red', 'fouls', 'offsides'])

In [ ]:
attk_df.reset_index(inplace = True)
attk_df.rename(columns={'index':'attk_id'}, inplace=True)
def_df.reset_index(inplace = True)
def_df.rename(columns={'index':'def_id'}, inplace=True)
tp_df.reset_index(inplace = True)
tp_df.rename(columns={'index':'tp_id'}, inplace=True)
gk_df.reset_index(inplace = True)
gk_df.rename(columns={'index':'gk_id'}, inplace=True)
dis_df.reset_index(inplace = True)
dis_df.rename(columns={'index':'dis_id'}, inplace=True)

## Player stat data

**COMMENT:** contains all players' statistics unique id (att_id, def_id, dis_id, tp_id, gk_id) (FKs).

In [ ]:
stat_data = []
stat_id = 1
for player_id in player_ids:
    records = attk_df[attk_df["player_id"]==player_id]["attk_id"].to_list()
    pos = attk_df[attk_df["attk_id"]==records[0]]["player_position"].to_string(index = False)
    for i in records:
        attk_id = i
        def_id = i
        tp_id = i
        gk_id = i
        dis_id = i
        team = academies[academies["academy_id"]==int(players[players["player_id"]==player_id]["academy_id"])]["academy_name"].to_string(index= False)
        row = (stat_id, player_id, pos, team, attk_id, def_id, dis_id, tp_id, gk_id)
        stat_data.append(row)
        stat_id += 1
stat_df = pd.DataFrame(stat_data,columns = ['stat_id', 'player_id', 'pos', 'team', 'attk_id', 'def_id', 'dis_id', 'tp_id', 'gk_id'])
stat_df.head()

,stat_id,player_id,pos,team,attk_id,def_id,dis_id,tp_id,gk_id
0,1,1,midfielder,Accra Lions FC Youth,0,0,0,0,0
1,2,1,midfielder,Accra Lions FC Youth,1,1,1,1,1
2,3,1,midfielder,Accra Lions FC Youth,2,2,2,2,2
3,4,2,midfielder,Accra Lions FC Youth,3,3,3,3,3
4,5,2,midfielder,Accra Lions FC Youth,4,4,4,4,4

In [ ]:
stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   stat_id    3300 non-null   int64
 1   player_id  3300 non-null   int64
 2   pos        3300 non-null   object
 3   team       3300 non-null   object
 4   attk_id    3300 non-null   int64
 5   def_id     3300 non-null   int64
 6   dis_id     3300 non-null   int64
 7   tp_id      3300 non-null   int64
 8   gk_id      3300 non-null   int64
dtypes: int64(7), object(2)
memory usage: 232.2+ KB

In [ ]:
for df in [attk_df, def_df, tp_df, dis_df, gk_df]:
    df.drop(["player_id", "player_position"], axis = 1,inplace = True)

In [ ]:
for df in [attk_df, def_df, tp_df, dis_df, gk_df]:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   attk_id       3300 non-null   int64
 1   season        3300 non-null   object
 2   games         3300 non-null   int64
 3   goals         3300 non-null   int64
 4   hd_goals      3300 non-null   int64
 5   rf_goals      3300 non-null   int64
 6   lf_goals      3300 non-null   int64
 7   fk_goals      3300 non-null   int64
 8   pen_goals     3300 non-null   int64
 9   shots         3300 non-null   int64
 10  shots_target  3300 non-null   int64
 11  shoot_acc     3300 non-null   object
 12  bc_misses     3300 non-null   int64
dtypes: int64(11), object(2)
memory usage: 335.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   def_id         3300 non-null   int64
 1   season         3300 non-null   object
 2   games          3300 non-null   int64
 3   tackles        3300 non-null   int64
 4   tackles_succ   3300 non-null   object
 5   blocked_shots  3300 non-null   int64
 6   intercept      3300 non-null   int64
 7   clear          3300 non-null   int64
 8   hd_clear       3300 non-null   int64
 9   recoveries     3300 non-null   int64
 10  duels_won      3300 non-null   int64
 11  duels_lost     3300 non-null   int64
dtypes: int64(10), object(2)
memory usage: 309.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tp_id           3300 non-null   int64
 1   season          3300 non-null   object
 2   games           3300 non-null   int64
 3   assists         3300 non-null   int64
 4   passes          3300 non-null   int64
 5   big_chances     3300 non-null   int64
 6   crss            3300 non-null   int64
 7   crss_acc        3300 non-null   object
 8   through_ball    3300 non-null   int64
 9   acc_long_balls  3300 non-null   int64
dtypes: int64(8), object(2)
memory usage: 257.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dis_id    3300 non-null   int64
 1   season    3300 non-null   object
 2   games     3300 non-null   int64
 3   yellow    3300 non-null   int64
 4   red       3300 non-null   int64
 5   fouls     3300 non-null   int64
 6   offsides  3300 non-null   int64
dtypes: int64(6), object(1)
memory usage: 180.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gk_id        3300 non-null   int64
 1   season       3300 non-null   object
 2   games        3300 non-null   int64
 3   saves        3300 non-null   int64
 4   pen_saves    3300 non-null   int64
 5   punches      3300 non-null   int64
 6   high_claims  3300 non-null   int64
 7   catches      3300 non-null   int64
 8   sweep_clear  3300 non-null   int64
 9   throw_outs   3300 non-null   int64
dtypes: int64(9), object(1)
memory usage: 257.9+ KB
None

In [ ]:
academies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   academy_id       54 non-null     int64
 1   academy_name     54 non-null     object
 2   contact_info     54 non-null     object
 3   est_year         54 non-null     int64
 4   stad_name        54 non-null     object
 5   stad_size        54 non-null     int64
 6   city             54 non-null     object
 7   country          54 non-null     object
 8   league           54 non-null     object
 9   revenue          54 non-null     int64
 10  num_player_grad  54 non-null     int64
dtypes: int64(5), object(6)
memory usage: 4.8+ KB

# To .CSV

In [ ]:
academies.to_csv("academies.csv",index=False)

In [ ]:
agents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   agent_id      22 non-null     int64
 1   first_name    22 non-null     object
 2   last_name     22 non-null     object
 3   agency_name   22 non-null     object
 4   contact_info  22 non-null     object
 5   num_client    22 non-null     int64
dtypes: int64(2), object(4)
memory usage: 1.2+ KB

In [ ]:
agents.to_csv("agents.csv",index=False)

In [ ]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_id    1100 non-null   int64
 1   first_name   1100 non-null   object
 2   last_name    1100 non-null   object
 3   birthdate    1100 non-null   object
 4   city         1100 non-null   object
 5   country      1100 non-null   object
 6   nationality  1100 non-null   object
 7   lang         1100 non-null   object
 8   height       1100 non-null   int64
 9   weight       1100 non-null   int64
 10  foot         1100 non-null   object
 11  academy_id   1100 non-null   int64
 12  agent_id     1100 non-null   int64
dtypes: int64(5), object(8)
memory usage: 111.8+ KB

In [ ]:
players.to_csv("players.csv",index = False)

In [ ]:
attk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   attk_id       3300 non-null   int64
 1   season        3300 non-null   object
 2   games         3300 non-null   int64
 3   goals         3300 non-null   int64
 4   hd_goals      3300 non-null   int64
 5   rf_goals      3300 non-null   int64
 6   lf_goals      3300 non-null   int64
 7   fk_goals      3300 non-null   int64
 8   pen_goals     3300 non-null   int64
 9   shots         3300 non-null   int64
 10  shots_target  3300 non-null   int64
 11  shoot_acc     3300 non-null   object
 12  bc_misses     3300 non-null   int64
dtypes: int64(11), object(2)
memory usage: 335.3+ KB

In [ ]:
attk_df.to_csv("attack.csv",index=False)

In [ ]:
def_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   def_id         3300 non-null   int64
 1   season         3300 non-null   object
 2   games          3300 non-null   int64
 3   tackles        3300 non-null   int64
 4   tackles_succ   3300 non-null   object
 5   blocked_shots  3300 non-null   int64
 6   intercept      3300 non-null   int64
 7   clear          3300 non-null   int64
 8   hd_clear       3300 non-null   int64
 9   recoveries     3300 non-null   int64
 10  duels_won      3300 non-null   int64
 11  duels_lost     3300 non-null   int64
dtypes: int64(10), object(2)
memory usage: 309.5+ KB

In [ ]:
def_df.to_csv("defend.csv",index=False)

In [ ]:
tp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tp_id           3300 non-null   int64
 1   season          3300 non-null   object
 2   games           3300 non-null   int64
 3   assists         3300 non-null   int64
 4   passes          3300 non-null   int64
 5   big_chances     3300 non-null   int64
 6   crss            3300 non-null   int64
 7   crss_acc        3300 non-null   object
 8   through_ball    3300 non-null   int64
 9   acc_long_balls  3300 non-null   int64
dtypes: int64(8), object(2)
memory usage: 257.9+ KB

In [ ]:
tp_df.to_csv("teamplay.csv",index = False)

In [ ]:
dis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dis_id    3300 non-null   int64
 1   season    3300 non-null   object
 2   games     3300 non-null   int64
 3   yellow    3300 non-null   int64
 4   red       3300 non-null   int64
 5   fouls     3300 non-null   int64
 6   offsides  3300 non-null   int64
dtypes: int64(6), object(1)
memory usage: 180.6+ KB

In [ ]:
dis_df.to_csv("discipline.csv",index = False)

In [ ]:
gk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gk_id        3300 non-null   int64
 1   season       3300 non-null   object
 2   games        3300 non-null   int64
 3   saves        3300 non-null   int64
 4   pen_saves    3300 non-null   int64
 5   punches      3300 non-null   int64
 6   high_claims  3300 non-null   int64
 7   catches      3300 non-null   int64
 8   sweep_clear  3300 non-null   int64
 9   throw_outs   3300 non-null   int64
dtypes: int64(9), object(1)
memory usage: 257.9+ KB

In [ ]:
gk_df.to_csv("goalkeep.csv",index = False)

In [ ]:
stat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   stat_id    3300 non-null   int64
 1   player_id  3300 non-null   int64
 2   pos        3300 non-null   object
 3   team       3300 non-null   object
 4   attk_id    3300 non-null   int64
 5   def_id     3300 non-null   int64
 6   dis_id     3300 non-null   int64
 7   tp_id      3300 non-null   int64
 8   gk_id      3300 non-null   int64
dtypes: int64(7), object(2)
memory usage: 232.2+ KB

In [ ]:
stat_df.to_csv("player_stat.csv",index = False)

In [ ]:
awards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   award_id    198 non-null    int64
 1   player_id   198 non-null    int64
 2   award_name  198 non-null    object
 3   award_year  198 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.3+ KB

In [ ]:
awards_df.to_csv("awards.csv", index = False)